---
import type { Article } from '../../lib/samples/articles';
import ArticleItem from './ArticleItem.astro';

interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<div class="grid gap-6">
  {articles.map((article) => (
    <ArticleItem article={article} />
  ))}
</div> 